.places {
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 92px 48px;
}

@media (max-width: 870px) {
  .places {
    padding: 88px 24px 90px;
  }
}

@media (max-width: 410px) {
  .places {
    padding: 64px 0 66px;
  }
}
