.place__paragraph {
  margin: 0;
  padding: 0 0 26px 0;
  grid-area: text;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

@media (max-width: 870px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 25px;
  }
}

@media (max-width: 410px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}

.place__paragraph:last-of-type {
  padding: 0;
}
