.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 870px) {
  .intro__text {
    max-width: none;
  }
}

@media (max-width: 410px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
