.cover__title {
  max-width: 560px;
  margin: 0;
  margin: 0 0 32px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

@media (max-width: 680px) {
  .cover__title {
    font-size: 55px;
    line-height: 57px;
    margin-bottom: 20px;
  }
}

@media (max-width: 410px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
