.section-wrapper {
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 92px 48px;
}

@media (max-width: 870px) {
  .section-wrapper {
    padding: 88px 24px;
  }
}

@media (max-width: 410px) {
  .section-wrapper {
    padding: 64px 16px;
  }
}
